
@import 'fonts.scss';
@import 'colours.scss';
@import 'nav.scss';
@import 'modals.scss';

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: $dark;
    background-color: $light;
    margin: 0;
    padding: 0;

    #content {
        margin: 40px auto;
        width: 70%;
    }

    a {
        text-decoration: none;
    }

    .full-width {
        width: 100%;
    }

    .fit-content {
        width: fit-content;
    }

    .fancy {
        font-family: 'Dumbledore', sans-serif;
        color: $accent-maroon;
    }
}

#notification-container {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    top: 0;
    left: 0;
    justify-content: center;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;

    .notification-banner {

        background-color: white;
        
        &.success {
            color: $accent-green;
        }

        &.error {
            color: $accent-red;
        }

        &.info {
            color: $accent-blue;
        }

        padding: 12px 24px;
        margin: 6px 0;

        border-radius: 8px;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.75);

        pointer-events: all;

        display: flex;
        gap: 12px;

        align-items: center;
        justify-content: space-between;

        height: fit-content;

        z-index: 1000;

        .notification-message {
            min-width: 450px;
        }

        .notification-icon {
            font-size: 20px;
        }

        .close-icon {
            cursor: pointer;
            color: black;

            font-size: 20px;

            &:hover {
                color: $action;
            }
        }
    }
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 10000;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    display: none;
    pointer-events: all;

    &.active {
        display: flex;
        pointer-events: none;
    }

}